In [2]:
import numpy as np
import pandas as pd

In [3]:
registrations = pd.DataFrame({'reg_id' :[1,2,3,4],'name':['Andrew','Bob','Claire','David']})

In [4]:
logins = pd.DataFrame({'log_id':[1,2,3,4],'name':['Xavier','Andrew','Yolanda','Bob']})

In [5]:
registrations

   reg_id    name
0       1  Andrew
1       2     Bob
2       3  Claire
3       4   David

In [6]:
logins

   log_id     name
0       1   Xavier
1       2   Andrew
2       3  Yolanda
3       4      Bob

In [7]:
pd.merge(registrations,logins,how= 'inner',on = 'name')

   reg_id    name  log_id
0       1  Andrew       2
1       2     Bob       4