In [1]:
import pandas as pd
import numpy as np

In [2]:
email = 'jose@email.com'

In [3]:
email.split('@')

['jose', 'email.com']

In [4]:
names = pd.Series(['andrew','bobo','claire','david','5'])

In [5]:
names

0    andrew
1      bobo
2    claire
3     david
4         5
dtype: object

In [6]:
names.str.upper()

0    ANDREW
1      BOBO
2    CLAIRE
3     DAVID
4         5
dtype: object

In [8]:
names.str.isdigit()

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [9]:
tech_finance = ['GOOG,APPL,AMZN','JPM,BAC,GS']

In [10]:
len(tech_finance)

2

In [12]:
tickers = pd.Series(tech_finance)

In [13]:
tickers.str.split(',')

0    [GOOG, APPL, AMZN]
1        [JPM, BAC, GS]
dtype: object

In [14]:
tech = 'GOOG,APPL,AMZN'

In [16]:
tech.split(',')[0]

'GOOG'

In [17]:
tickers.str.split(',').str[0]

0    GOOG
1     JPM
dtype: object

In [18]:
tickers.str.split(',',expand=True)

      0     1     2
0  GOOG  APPL  AMZN
1   JPM   BAC    GS

In [19]:
messy_names = pd.Series(['andrew  ','bo;bo','  claire  '])

In [26]:
messy_names

0      andrew
1         bo;bo
2      claire
dtype: object

In [21]:
messy_names.str.replace(';','').str.strip().str.capitalize()

0    Andrew
1      Bobo
2    Claire
dtype: object

In [24]:
def cleanup(name):
    name = name.replace(';','')
    name = name.strip()
    name = name.capitalize()
    return name

In [25]:
messy_names.apply(cleanup)

0    Andrew
1      Bobo
2    Claire
dtype: object