In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv(r"E:\study materials\python\02 Machine Learning - Udemy\UNZIP_FOR_NOTEBOOKS_FINAL\DATA\Advertising.csv")

In [3]:
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [4]:
X = df.drop('sales',axis=1)

In [5]:
y=df['sales']

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=101)

In [8]:
from sklearn.preprocessing import StandardScaler

In [9]:
scaler = StandardScaler()

In [10]:
scaler.fit(X_train)

StandardScaler()

In [11]:
X_train = scaler.transform(X_train)

In [12]:
X_test = scaler.transform(X_test)

In [13]:
from sklearn.model_selection import cross_validate

In [14]:
from sklearn.linear_model import Ridge

In [15]:
model = Ridge(alpha=100)

In [16]:
score = cross_validate(model ,X_train,y_train,scoring=['neg_mean_squared_error','neg_mean_absolute_error'],cv=10)

In [18]:
scores = pd.DataFrame(score)

In [19]:
scores

,fit_time,score_time,test_neg_mean_squared_error,test_neg_mean_absolute_error
0,0.005999,0.001518,-6.060671,-1.810212
1,0.001009,0.001477,-10.627031,-2.541958
2,0.001997,0.000000,-3.993426,-1.469594
3,0.001001,0.000000,-5.009494,-1.862769
4,0.000991,0.000000,-9.141800,-2.520697
5,0.001503,0.000000,-13.086256,-2.459995
6,0.001032,0.000965,-3.839405,-1.451971
7,0.000000,0.001007,-9.058786,-2.377395
8,0.000000,0.001000,-9.055457,-2.443344
9,0.000999,0.000000,-5.778882,-1.899797

In [20]:
scores.mean()

fit_time                        0.001453
score_time                      0.000597
test_neg_mean_squared_error    -7.565121
test_neg_mean_absolute_error   -2.083773
dtype: float64

In [21]:
model = Ridge(alpha=1)

In [22]:
score = cross_validate(model ,X_train,y_train,scoring=['neg_mean_squared_error','neg_mean_absolute_error'],cv=10)

In [23]:
scores = pd.DataFrame(score)

In [24]:
scores

,fit_time,score_time,test_neg_mean_squared_error,test_neg_mean_absolute_error
0,0.002506,0.001008,-2.962508,-1.457174
1,0.002020,0.001001,-3.057378,-1.555308
2,0.001991,0.001002,-2.173740,-1.238770
3,0.001678,0.000917,-0.833034,-0.768938
4,0.002018,0.000994,-3.464018,-1.434489
5,0.001000,0.001001,-8.232647,-1.494316
6,0.000941,0.002009,-1.905864,-1.081362
7,0.002146,0.001075,-2.765048,-1.250011
8,0.001014,0.000000,-4.989505,-1.580971
9,0.001497,0.001041,-2.846438,-1.223326

In [25]:
scores.mean()

fit_time                        0.001681
score_time                      0.001005
test_neg_mean_squared_error    -3.323018
test_neg_mean_absolute_error   -1.308467
dtype: float64

In [26]:
model.fit(X_train,y_train)

Ridge(alpha=1)

In [27]:
y_final_pred = model.predict(X_test)

In [29]:
from sklearn.metrics import mean_squared_error

In [30]:
mean_squared_error(y_test,y_final_pred)

2.319021579428752