In [2]:
with open('One.txt') as mytext:
    a = mytext.read()

In [3]:
a

'This is a story about dogs\nour canine pets\nDogs are furry animals\n'

In [4]:
print(a)

This is a story about dogs
our canine pets
Dogs are furry animals

In [5]:
with open('One.txt') as mytext:
    a = mytext.readlines()

In [8]:
a

['This is a story about dogs\n',
 'our canine pets\n',
 'Dogs are furry animals\n']

In [9]:
with open('One.txt') as mytext:
    a = mytext.read()

In [11]:
a.lower().split()

['this',
 'is',
 'a',
 'story',
 'about',
 'dogs',
 'our',
 'canine',
 'pets',
 'dogs',
 'are',
 'furry',
 'animals']

In [12]:
with open('One.txt') as mytext:
    words_one = mytext.read().lower().split()
    uni_words_one = set(words_one)

In [13]:
uni_words_one

{'a',
 'about',
 'animals',
 'are',
 'canine',
 'dogs',
 'furry',
 'is',
 'our',
 'pets',
 'story',
 'this'}

In [15]:
with open('Two.txt') as mytext:
    words_two = mytext.read().lower().split()
    uni_words_two = set(words_two)

In [16]:
uni_words_two

{'a',
 'about',
 'catching',
 'fun',
 'is',
 'popular',
 'sport',
 'story',
 'surfing',
 'this',
 'water',
 'waves'}

In [17]:
all_uni_words = set()
all_uni_words.update(uni_words_one)
all_uni_words.update(uni_words_two)

In [18]:
all_uni_words

{'a',
 'about',
 'animals',
 'are',
 'canine',
 'catching',
 'dogs',
 'fun',
 'furry',
 'is',
 'our',
 'pets',
 'popular',
 'sport',
 'story',
 'surfing',
 'this',
 'water',
 'waves'}

In [19]:
full_vocab = dict()

i = 0
for word in all_uni_words:
    full_vocab[word]=i
    i = i+1

In [20]:
full_vocab

{'this': 0,
 'water': 1,
 'story': 2,
 'fun': 3,
 'surfing': 4,
 'about': 5,
 'animals': 6,
 'canine': 7,
 'our': 8,
 'dogs': 9,
 'a': 10,
 'pets': 11,
 'are': 12,
 'is': 13,
 'sport': 14,
 'waves': 15,
 'furry': 16,
 'popular': 17,
 'catching': 18}

In [21]:
one_freq = [0]*len(full_vocab)
two_freq = [0]*len(full_vocab)
all_words = ['']*len(full_vocab)

In [23]:
one_freq

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [24]:
two_freq

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [25]:
with open('One.txt') as f:
    one_text = f.read().lower().split()
for word in one_text:
    word_ind = full_vocab[word]
    one_freq[word_ind] +=1
one_freq

[1, 0, 1, 0, 0, 1, 1, 1, 1, 2, 1, 1, 1, 1, 0, 0, 1, 0, 0]

In [26]:
with open('Two.txt') as f:
    two_text = f.read().lower().split()
for word in two_text:
    word_ind = full_vocab[word]
    two_freq[word_ind] +=1
two_freq

[1, 1, 1, 1, 2, 1, 0, 0, 0, 0, 1, 0, 0, 3, 1, 1, 0, 1, 1]

In [27]:
all_words

['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']

In [30]:
for word in full_vocab:
    word_int = full_vocab[word]
    all_words[word_int] = word
all_words

['this',
 'water',
 'story',
 'fun',
 'surfing',
 'about',
 'animals',
 'canine',
 'our',
 'dogs',
 'a',
 'pets',
 'are',
 'is',
 'sport',
 'waves',
 'furry',
 'popular',
 'catching']

In [31]:
import pandas as pd

In [34]:
bow = pd.DataFrame(data=[one_freq,two_freq],columns=all_words)

In [35]:
bow

,this,water,story,fun,surfing,about,animals,canine,our,dogs,a,pets,are,is,sport,waves,furry,popular,catching
0,1,0,1,0,0,1,1,1,1,2,1,1,1,1,0,0,1,0,0
1,1,1,1,1,2,1,0,0,0,0,1,0,0,3,1,1,0,1,1